@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Open+Sans:400,700&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    
}

ul, li {
    list-style: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #fff;
}

h1 {
    font-size: 78px;
}

h2 {
    font-size: 65px;
    color: #fff;
}

h3 {
    color: #F1EC9D;
}


p, li {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #fff;
}

a, 
a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.heading-text {
    padding-left: 50px;
}

.section {
    width: 100%;
    height: 100vh;
}

.sectionone {
    background-color: #73cbf5;
    background: linear-gradient(to top, #0f0c29, #302b63, #24243e);
}

.sectionone-nav {
    display: flex;
    height: 5vh;
    padding-top: 15px;
    padding-left: 25px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.navbar-list {
    padding: 10px 10px;
}

.navbar-list a {
    font-size: 19px;
    color: #fff;
    margin: 5px 20px;
    transition: all .3s ease-out;
}

.navbar-list a:hover {
    font-size: 20px;
}

.donate:hover {
    font-size: 24px !important;
}

.underline-text {
    display: inline-block;
    color: #ffeb3b;
    line-height: 1.4;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.underline-text:after {
    background-color: #ffeb3b;
    display: block;
    content: "";
    height: 4px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.underline-text:hover:after,
.underline-text:focus:after {
    width: 100%;
}

.sectionone-inner {
    height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sectionone-arrow {
    height: 5vh;
    display: flex;
    justify-content: center;
}

.arrow-down {
    fill: #fff;
}

/* sectiontwo */


.sectiontwo {
    background-color: #2cd4c9;
    background: linear-gradient(to top, #24243e, #302b63, #0f0c29);
}

.sectiontwo-inner {
    padding-left: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sectiontwo-inner-text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-right: 15%;

    width: 600px;
}

.sectiontwo-inner-text h3 {
    padding-bottom: 25px;
}

/* sectionthree */

.sectionthree {
    background: linear-gradient(to top, #0f0c29, #302b63, #24243e);

}

.sectionthree-number {
    display: flex;
    justify-content: space-around;

    padding-top: 5%;
}

.sectionthree-steps {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-top: 2%;
}

.steps-block {
    width: 350px;
}


.social {
    width: 100%;
    height: 80vh;
    background: linear-gradient(to top, #24243e, #302b63, #0f0c29);
}

.sectionfooter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 20vh;
    background: linear-gradient(to top, #002, #24243e);
    /*background-color: #002;*/
    color: #fff !important;
    line-height: 1.4;
    padding: 0px 10px;
}

.copyright-item {
    display: flex;
    text-align: right;
}

.copyright-item i {
    font-style: normal;
    font-size: 16px;
}

.social-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-inner {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    line-height: 2;
}

.social-inner h3 {
    font-family: 'Open Sans', sans-serif;
}

.server-inner {
    width: 50%;
    line-height: 2.5;
    text-align: center;
    padding: 0px 15px;
}

.server-inner a {

}

.btn-block {
    background: #fff;
    box-shadow: 0px 5px 35px rgba(255, 179, 46, 0.35);
    border-radius: 4px 25px;
    padding: 12px 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    outline: none !important;
    color: #2E0B00;
    border: none !important;
    margin-bottom: 45px;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease-out;
}

.btn-block:hover {
    padding: 17px;
    text-align: center;
    background-color: #fff;
    font-weight: 700;
    color: #000;
}