@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Open+Sans:400,700&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    
}

ul, li {
    list-style: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #fff;
}

h1 {
    font-size: 78px;
}

h2 {
    font-size: 65px;
    color: #fff;
}

h3 {
    color: #F1EC9D;
}


p, li {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #fff;
}

a, 
a:hover {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.heading-text {
    padding-left: 50px;
}

.section {
    width: 100%;
    height: 100vh;
}

.sectionone {
    background-color: #73cbf5;
    background: linear-gradient(to top, #0f0c29, #302b63, #24243e);
}

.sectionone-nav {
    display: flex;
    height: 5vh;
    padding-top: 15px;
    padding-left: 25px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.navbar-list {
    padding: 10px 10px;
}

.navbar-list a {
    font-size: 19px;
    color: #fff;
    margin: 5px 20px;
    transition: all .3s ease-out;
}

.navbar-list a:hover {
    font-size: 20px;
}

.underline-text {
    display: inline-block;
    color: #c;
    line-height: 1.4;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.underline-text:after {
    background-color: #ffeb3b;
    display: block;
    content: "";
    height: 4px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.underline-text:hover:after,
.underline-text:focus:after {
    width: 100%;
}

.sectionone-inner {
    height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sectionone-btn {
    display: flex;
    justify-content: center;
}

.sectionone-arrow {
    padding-top: 7%;
    display: flex;
    justify-content: center;
}

.sectionone-btn {
    font-size: 28px;
}

.container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-lobby {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 60px;
  border: 1px solid #fff;
  overflow: hidden;
  color: #fff;
  text-align: center;
  z-index: 1;
  border-radius: 3px;
  font-size: 1.2em;
  position: relative;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

.btn-lobby:before,
.btn-lobby:after {
    -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

[data-type]:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}
[data-type]:hover {
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  color: #f1c40f;
  z-index: 8;
}

[data-type="diagonal_swipe_left"]:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  border-right: 50px solid transparent;
  border-bottom: 80px solid #101012;
}

[data-type="diagonal_swipe_left"]:hover:before {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}


.arrow-down {
    fill: #fff;
}

/* sectiontwo */


.sectiontwo {
    background-color: #2cd4c9;
    background: linear-gradient(to top, #24243e, #302b63, #0f0c29);
}

.sectiontwo-inner {
    padding-left: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sectiontwo-inner-text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-right: 15%;

    width: 600px;
}

.sectiontwo-inner-text h3 {
    padding-bottom: 25px;
}

.sectiontwo-inner-text i {
    font-size: 32px;
    font-style: normal;
}

.sectiontwo-inner-text p {
    font-size: 22px;
}

.text {
    font-size: 30px;
    animation: shadow 5s ease-out infinite;
    letter-spacing: 2px;
    color: #f1c40f;
    font-family: 'Open Sans', sans-serif;
}

.nope {
    width: 100px;
    height: 2vh;
}
/* sectionthree */

.sectionthree {
    background: linear-gradient(to top, #0f0c29, #302b63, #24243e);

}

.sectionthree-number {
    display: flex;
    justify-content: space-around;

    padding-top: 5%;
}

.sectionthree-steps {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-top: 2%;
}

.steps-block {
    width: 350px;
}

.steps-block h3 {
    padding-bottom: 10px;
    border-top: 2px solid #f1c40f;
    border-left: 4px solid #f1c40f;
    padding: 10px;
}

.steps-block p {
    border-left: 4px solid #f1c40f;
    padding: 10px;
}

.social {
    width: 100%;
    height: 80vh;
    background: linear-gradient(to top, #24243e, #302b63, #0f0c29);
}


.sectionfooter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 20vh;
    background: linear-gradient(to top, #002, #24243e);
    /*background-color: #002;*/
    color: #fff !important;
    line-height: 1.4;
    padding: 0px 10px;
}

.copyright-item {
    display: flex;
    text-align: right;
}

.copyright-item i {
    font-style: normal;
    font-size: 16px;
}

.social-block {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 10%;
}

.social-inner {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    line-height: 3.5;
}

.social-inner h3 {
    font-family: 'Open Sans', sans-serif;
}

.social-inner-desc {
    display: flex;
}

.social-inner-desc img {
    padding-right: 15px;
}

.server-inner {
    width: 50%;
    line-height: 2.5;
    text-align: center;
    padding: 0px 15px;
}

.server-inner h3 {
    font-size: 28px;
    color: #f1c40f;
}

@keyframes shadow {
    0%,100% {
        text-shadow: 0px 0px 0px #f1c40f;
    }
    50% {
        text-shadow: 0px 0px 15px #f1c40f;
    }
}

.line {
    width: 2px;
    height: 30vh;
    border: 1px solid #f1c40f;
    border-radius: 25px;
    background: #f1c40f; 
    box-shadow: 0px 0px 10px #f1c40f;
    opacity: .8;
}

.gold-letter {
    color: #f1c40f;
    font-style: normal;
}

.button-parent {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.button-parent--inner {
  padding: 2em 1em;
}

.button-item a {
  text-decoration: none;
  font-weight: 500;
  position: relative;
  color: #fff;
  display: inline-block;
}

.btn {
  padding: 1em 3em;
  border: 2px solid #f1c40f;
  transition: all 300ms ease;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
.btn:before {
  position: absolute;
  font-weight: bold;
  content: "";
  width: 0%;
  height: 100%;
  background: #f1c40f;
  top: 0;
  left: 50%;
  z-index: -1;
  transition: all 0ms ease;
}

.btn:hover {
  color: #000;
  box-shadow: none;
}
.btn:hover:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #f1c40f;
  top: 0;
  left: 0%;
  z-index: -1;
  transition: all 300ms ease;
}

.h-line {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4%;
    padding-left: 40px;
}

.horizontal-line {
    width: 30vw;
    height: 1px;
    border: 1px solid #f1c40f;
    border-radius: 25px;
    background: #f1c40f; 
    box-shadow: 0px 0px 10px  #f1c40f;
    opacity: .8;
}