@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Open+Sans:400,700&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {

}

ul, li {
    list-style: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #fff;
}

h1 {
    font-size: 78px;
}

h2 {
    font-size: 65px;
    color: #fff;
}

h3 {
    color: #F1EC9D;
}


p, li {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #fff;
}

a, 
a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.heading-text {
    padding-left: 50px;
}

.section {
    width: 100%;
    height: 100vh;
}

.sectionone {
    background-color: #73cbf5;
    background: linear-gradient(to top, #08eaf5, #644892);
}

.sectionone-nav {
    display: flex;
    height: 5vh;
    padding-top: 15px;
    padding-left: 25px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.navbar-list {
    padding: 10px 10px;
}

.navbar-list a {
    font-size: 20px;
    color: #fff;
    margin: 5px 20px;
}

.underline-text {
    display: inline-block;
    color: #ffeb3b;
    line-height: 1.4;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.underline-text:after {
    background-color: #ffeb3b;
    display: block;
    content: "";
    height: 4px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.underline-text:hover:after,
.underline-text:focus:after {
    width: 100%;
}

.sectionone-inner {
    height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sectionone-arrow {
    height: 5vh;
    display: flex;
    justify-content: center;
}

.arrow-down {
    fill: #fff;
}

/* sectiontwo */


.sectiontwo {
    background-color: #2cd4c9;
    background: linear-gradient(to top, #db08f578, #08eaf5);
}

.sectiontwo-inner {
    padding-left: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sectiontwo-inner-text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-right: 15%;

    width: 600px;
}

.sectiontwo-inner-text h3 {
    padding-bottom: 25px;
}

/* sectionthree */

.sectionthree {
    background: linear-gradient(to top, #6b409ad9, #db08f578);

}

.sectionthree-number {
    display: flex;
    justify-content: space-around;

    padding-top: 5%;
}

.sectionthree-steps {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-top: 2%;
}

.steps-block {
    width: 350px;
}


.social-block {
    width: 100%;
    height: 80vh;
    background: linear-gradient(to top, #ea6f6fd9, #6b409ad9);
}

.sectionfooter {
    height: 20vh;
    background-color: #101012;
    color: #fff !important;
    line-height: 1.4;
    padding-left: 10px;
}

.copyright-item {
    display: flex;
}

.copyright-item i {
    font-style: normal;
    font-size: 16px;
}